html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #FF6F5B !important;
  font-size: 1rem;
  height: 50px
}

.navbar .brand-logo,
.navbar ul li a {
  font-size: 1rem !important;
}

.download-btn {
  background-color: #044174 !important;
  border-radius: 20px !important;
}

.file-btn {
  background-color: #044174 !important;
  border-radius: 20px !important;
}

/* Sensitivity radio label text always black */
input[name="sensitivity"] + span {
  color: #000 !important;
}
/* Custom color for selected radio circle */
input[name="sensitivity"]:checked:not(:disabled) + span:before,
input[name="sensitivity"]:checked + span:after {
  /* border-color: #744b04 !important; */
  background-color: #044174 !important;
}
canvas {
  height: 233px;
  width: 350px;
  border: 1px solid black;
  margin-top: 25px;
}

#editCanvas {
  height: 233px;
  width: 350px;
  border: 1px solid black;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
}

h2:first-of-type {
  margin-top: 25px;
}

.color-input {
  width: 80% !important;
}

#title-color .btn {
  /* background-color: rgba(0, 255, 0, 0.8); */
  background-color: #054173;
}

#category-color .btn {
  /* background-color: rgba(0, 0, 255, 0.8); */
  background-color: #FF6F5B;
}

.brand-logo {
  margin-left: 25px;
}

nav {
  background-color: #26a69a;
  overflow: hidden;
}

.row {
  margin-bottom: 4px;
}

.input-field {
  margin: 4px 0 4px 0;
}

/* Gradient background */
html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#page-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(135deg, #f5f7fa 0%, #8b929e 100%);
}

.container {
  flex: 1 0 auto;
}